
<form #elementsForm="ngForm">
    <table mat-table #scoresTable_1 [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let def of tblDef">
        <ng-container [matColumnDef]="def.key">
            <th mat-header-cell *matHeaderCellDef> {{def.header}} </th>
            <td mat-cell *matCellDef="let element; let idx=index">
                <mat-form-field [style.width.px]=50>
                    <input matInput type="text" name={{def.key}}_{{idx}} [disabled]="def.formCol != true? true : false"  [(ngModel)]=element[def.key]  />
                </mat-form-field>
            </td>
        </ng-container>
    </ng-container>
        <tr mat-header-row *matHeaderRowDef="colHeaderToDisplayed"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</form>

<p style="color: aliceblue;">
    Data:
    {{dataSource.data | json}}
</p>