
<mat-icon class="faceicon" matBadge="-"  matBadgeOverlap="false"  matBadgeColor="warn" aria-hidden="false"  aria-label="Example home icon"  style="color: floralwhite;">face</mat-icon>

<form  >
    <mat-form-field style="width: 50px; height: 20px; color: floralwhite;" >
      <input matInput id="playername"  value=" {{ pname }} " [formControl]="playername"  >
    </mat-form-field>
</form>

<mat-icon aria-hidden="false" aria-label="Example casino icon" style="color: orangered;">casino</mat-icon>
