<div style="text-align: center;">
<mat-icon class="faceicon"  matBadge="-"  matBadgeOverlap="false"  matBadgeColor="warn" aria-hidden="false"  aria-label="Example home icon"  style="color: floralwhite;">face</mat-icon>

<form  >
    <mat-form-field style="width: 50px; height: 20px; color: floralwhite;" >
      <input matInput id="playername"  value=" {{ pname }} " [formControl]="playername"  >
    </mat-form-field>
</form>


<button mat-icon-button id="c_{{pname}}" aria-label="Example casino icon" style="color:orangered; background-color: navy;" (click) = "rollDice()">
  <mat-icon>casino</mat-icon> <mat-icon>casino</mat-icon> 
</button>

<span id="d_{{ pname }}" style="color: papayawhip; padding-left: 10px; ">{{dice_num}}</span>