<h1>Mahjong Tracker</h1>

<mat-grid-list cols="7" rowHeight="1:3">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="5">
        <app-player></app-player>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile>
        <app-player></app-player>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
        <app-desk></app-desk>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-player></app-player>
    </mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="5">
        <app-player></app-player>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>  
</mat-grid-list>
<div>----------------</div>
<mat-grid-list cols="1" rowHeight="2:1" >
    <mat-grid-tile colspan="1" >
        <app-score></app-score>
    </mat-grid-tile>
</mat-grid-list>


