

<div style=" border: solid 2p darkgreen; width:80%; height: 80%; position: absolute; left:10%; bottom:5%; background-color: darkgreen; ">
<mat-list  role="list">
    <mat-list-item  role="listitem" style="display: flex; justify-content:center; color:floralwhite" > Wind: &nbsp;&nbsp; <span matBadge="E" matBadgeOverlap="false"></span></mat-list-item>
    <mat-list-item role="listitem" style="display: flex; justify-content:center; ">
        <mat-icon aria-hidden="false" aria-label="Example casino icon" style="font-size:30px; color: rgb(238, 25, 25);">casino</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example casino icon" style="font-size:30px; color: rgb(238, 25, 25);">casino</mat-icon>
        &nbsp;&nbsp;&nbsp;
        <span matBadge="11" matBadgeOverlap="false"></span>
    </mat-list-item>
    <mat-list-item role="listitem" style="display: flex; justify-content:center; color: floralwhite; ">Game&nbsp;&nbsp;<span matBadge="1" matBadgeOverlap="false"></span></mat-list-item>
  </mat-list>
</div>
